h1{
	color:rgb(51, 2, 2);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 50px;
	background-color:rgb(236, 211, 163);
	text-align:center;
	text-transform: uppercase;	
}
h2{
	font-size: 40px;
	color: brown;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
	font-size:35px;
	text-align:center;
	
}
p{
	font-family:'Times New Roman', Times, serif;
	font-size:25px;
	color:rgb(10, 10, 10);
	font-style:normal;
	text-align:justify;
	line-height:140%;
}
img{
	height: 140px;
	width: 400px;
    display: block;
	margin: 0 auto;
	border: solid 2px;
}
table{
	text-align:center;
	background-color:rgb(209, 209, 209);
	font-size:20px;
}
address{
	font-size:150%;
}
footer{
	background-color:gray;
	margin: 2%;
    padding: 20px;
}
div{
	width: 40%;
	display: table-cell;
	padding: 20px;

}
header{
	background-color: silver;
	padding: 15px;
	margin: 10px;
}
body{
	margin: 2%;
}
section{
	width: 30%;
	display: table-cell;
	
}
a{
	font-weight: bold;
	color:#4f026d;
	text-align: center;
	padding:4px;
	text-decoration:none;
	max: 20px;
}

a:hover{
	background:#b3b3b3;
	color:rgb(63, 3, 99);
}
 a:focus{
	 background: #b3b3b3;
	 color:rgb(2, 5, 102);
 }